<header-comp></header-comp>
<section class="col-md-12 contact-cont">
    <div class="contact-box">
        <ul>
            <li>
                <div class="name">
                    <label>Name:</label>
                    <br/>
                    <input type="text">
                </div>
                <div class="email">
                    <label>Email:</label>
                    <br/>
                    <input type="text">
                </div>
                <div class="phone">
                    <label>Phone:</label>
                    <br/>
                    <input type="text">
                </div>
            </li>
            <li class="message">
                <label>Message:</label>
                <br/>
                <textarea></textarea>
            </li>
            <li class="send">
                <span>SEND</span>
            </li>
        </ul>
    </div>
</section>