<footer class="row">
    <div class="col-md-6 col-md-offset-1">
        <h3>Start selling right now!</h3>
        <ul class="start-selling">
            <li><span>1</span> Create your account</li>
            <li><span>2</span> Upload your products</li>
            <li><span>3</span> Start selling</li>
        </ul>
    </div>
    <div class="col-md-3 col-offset-md-3 contact">
        <ul>
            <li>
                <label>Name: </label>
                <input type="text">
            </li>
            <li>
                <label>Email: </label>
                <input type="email" required/>
            </li>
            <li>
                <label>Comment: </label>
                <textarea type="text" required></textarea>
            </li>
            <li>
                <div class="btn submit">Send</div>
            </li>
        </ul>
    </div>
    <div class="col-md-2 social">
        <ul>
            <li><i class="fa fa-facebook-square" aria-hidden="true"></i> facebook</li>
            <li><i class="fa fa-twitter-square" aria-hidden="true"></i> twitter</li>
            <li>contact@whola.com</li>
        </ul>
    </div>
</footer>
