<nav>
    <div class="col-md-1 col-md-offset-1 logo">
        <a routerLink="">
            <img src="/assets/img/whola-logo-mini.png">
        </a>
    </div>
    <div class="client-type">
        <ul>
            <li><a routerLink="/sales">MANAGER</a></li>
            <li><a routerLink="/cashier">CASHIER</a></li>
        </ul>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a routerLink="/messages"><i class="fa fa-comment" aria-hidden="true"></i></a>
            </li>
            <li><i class="fa fa-globe" aria-hidden="true"></i></li>
            <li><i class="fa fa-sign-out" aria-hidden="true"></i></li>
        </ul>
    </div>
</nav>