<header-comp></header-comp>
<left-menu></left-menu>
<section class="col-md-10 create-campaign">
    <div class="content">
        <div class="col-md-3 col-md-offset-1">
            <div class="box">
                <a routerLink="/campaigns/mobile">
                    <img src="/assets/img/phone-campaign.png"/>
                    <h3>Mobile</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <a routerLink="/campaigns/display">
                    <img src="/assets/img/display-campaign.jpg" style="min-height: 257px"/>
                    <h3>Display</h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <a routerLink="/campaigns/social">
                    <img src="/assets/img/social-campaign.jpg"/>
                    <h3>Social</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </div>
        </div>
    </div>
</section>
