<section class="video-cont">
    <video autoplay loop>
        <source src="/assets/video/tokyo-busy.mp4" type="video/mp4">
    </video>
</section>
<section class="col-md-5">
 
</section>
<section class="col-md-7 login">
    <div class="login-box">
        <ul>
            <li class="logo">
                <h1>Welcome!</h1>
            </li>
            <li class="logo">
                <i class="fa fa-cloud" aria-hidden="true"></i>
                <input type="text" placeholder="Username">
            </li>
            <li class="logo">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <input type="password"  placeholder="Password">
            </li>
            <li class="login-button">
                <div class="button">Login</div>
                <a href="/create-account">&nbsp; <i class="fa fa-cloud" aria-hidden="true"></i> Create account</a>
            </li>
        </ul>
    </div>
</section>
