<section class="col-md-2 menu">
    <ul class="main-menu">
        <li>
            <a routerLink="/campaigns" routerLinkActive="active">Campaigns</a>
            <ul class="campaign-menu">
                <li>
                    <a routerLink="/campaigns/create-campaign" routerLinkActive="active">
                        - Create Campaign
                    </a>
                </li>
                <li class="mobile">
                    <a routerLink="/campaigns/mobile" routerLinkActive="active">
                        - Mobile
                    </a>
                </li>
                <li class="display">
                    <a routerLink="/campaigns/display" routerLinkActive="active">
                        - Display
                    </a>
                </li>
                <li class="social">
                    <a routerLink="/campaigns/social" routerLinkActive="active">
                        - Social
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/clients" routerLinkActive="active">Clients</a>
            <ul class="clients-menu">
                <li>
                    <a routerLink="/clients/buy-clients" routerLinkActive="active">
                        - Buy Clients
                    </a>
                </li>
                <li>
                    <a routerLink="/clients/clients-lists" routerLinkActive="active">
                        - Clients Lists
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/products" routerLinkActive="active">Products</a>
            <ul class="products-menu">
                <li class="products">
                    <a routerLink="/products/add-product" routerLinkActive="active">- Add Product</a>
                </li>
                <li class="products">
                    <a routerLink="/products/edit-product" routerLinkActive="active">- Edit Product</a>
                </li>
                <li class="categories">
                    <a routerLink="/products/add-category" routerLinkActive="active">- Add Category</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/messages" routerLinkActive="active">Messages</a>
            <ul class="messages-menu"></ul>
        </li>
        <li>
            <a routerLink="/sales" routerLinkActive="active">Sales</a>
            <ul class="sales-menu"></ul>
        </li>
        <li>
            <a routerLink="/stores" routerLinkActive="active">Stores</a>
            <ul class="stores-menu"></ul>
        </li>
    </ul>
</section>