<header-comp></header-comp>
<left-menu></left-menu>
<section class="col-md-10 messages-cont"> 
    <div class="col-md-9 messages-box">
        <div class="messages">
            <ul>
                <li class="day">
                    <span class="date">November 15th</span>
                </li>
                <li class="client">
                    <span class="message-box">
                        <span class="message">client</span>
                        <span class="date">12:10</span>
                    </span>
                </li>
                <li class="merchant">
                    <span class="message-box">
                        <span class="message">client</span>
                        <span class="date">12:10</span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="chat-box">
            <textarea></textarea>
            <span>SEND</span>
        </div>
    </div>
    <div class="col-md-3 client-box">
        clients
    </div>
</section>