<header-comp></header-comp>
<left-menu></left-menu>
<section class="col-md-10 clients-lists">
    <div class="content">
         <div class="col-md-3 box lists">
            <h2>
                Lists 
                <span (click)="showHideCreateClientsList()" [ngClass]="{ active: createListState }"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                <span><i class="fa fa-times" aria-hidden="true"></i></span>
            </h2>
            <div class="box-content new-clients-list" [ngClass]="{ active: createListState }">
                <input type="text" [(ngModel)]="newClientList" placeholder="Clients List Name"><span class="create-clients-list" (click)="newClientsList()">Create</span>
            </div>
            <div class="box-content">
                <div class="lists-cont">
                    <div class="title">
                        <div class="name">
                            List Name <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        <div class="items">
                            Nº Clients <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="list" *ngFor="let clientsList of clientsLists" [ngClass]="{ active: clientsList.active == true }" (click)="selectClientsList(clientsList._id)">
                        <div class="name">
                            {{ clientsList.name }}
                        </div>
                        <div class="items">
                            {{ clientsList.number }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 box">
            <h2>
                Clients 
                <span><i class="fa fa-times" aria-hidden="true"></i> Delete</span>
            </h2>
            <div class="box-content">
                <div class="clients-cont">

                    <div class="title">
                        <div class="image">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            Name <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        <div class="genre">
                            Genre <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        <div class="age">
                            Age <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        
                        <!--
                        <div class="postalCode">
                            Postal Code <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            Residence <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>-->
                        <div class="avg-spend">
                            Avg. Spend <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        <div class="total-spend">
                            Total Spend <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        <div class="avg-spend">
                            Avg. Profit <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        <div class="total-spend">
                            Total Profit <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>

                        <div class="rate">
                            Client Rate <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div *ngFor="let activeClient of activeClientsList; let i = index">
                        <div *ngFor="let client of clients">
                            <div *ngIf="activeClient._id == client.userId" class="list">
                                <div class="image">
                                    <img src="http://localhost:3000/img/users/{{client.img}}">
                                </div>
                                <div class="name">
                                    <span (click)="selectUser(user.userId)">{{ client.name }} {{ client.lastName }}</span>
                                </div>
                                <div class="genre">
                                    <span (click)="selectGenre(user.genre)">{{ client.genre }}</span>
                                </div>
                                <div class="age">
                                    {{ client.age }}
                                </div>
                                
                                <!--
                                <div class="postalCode">
                                    {{ client.postalCode }}
                                </div>
                                <div class="name">
                                    {{ client.city + ', ' + client.country }}
                                </div>
                                -->
                                <div class="avg-spend">
                                {{ (client.totalSpend / client.visits).toFixed(2) }} €
                                </div>
                                <div class="total-spend">
                                {{ client.totalSpend.toFixed(2) }} €
                                </div>
                                <div class="total-spend">
                                    {{ (client.totalProfit / client.visits).toFixed(2) }} €
                                </div>
                                <div class="total-spend">
                                    {{ client.totalProfit.toFixed(2) }} €
                                </div>
                                
                                <div class="rate">
                                    <i class="fa fa-star ilu" aria-hidden="true" *ngFor="let key of keys | ratesPipe: [client.rate]"></i>
                                    <i class="fa fa-star" aria-hidden="true" *ngFor="let key of keys | ratesPipe: [5 - client.rate]"></i>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
